<div ng-controller="RecipesController">
  <div class="grid-100 row controls" >
    <div class="grid-30">
      <select ng-model="catro" 
      ng-change="updateCategory(catro)"
      ng-init="catro='All Categories'">
        <option value="All Categories">All Categories</option>
        <option value="{{catro.name}}" ng-repeat="catro in categroies">{{catro.name}}</option>
      </select>
    </div>
    <div class="grid-70">
      <div class="flush-right">
        <button ng-click="toAddRecipe()">+ Add Recipe</button>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="grid-100 row">
    <div class="grid-70" ng-if="recip.length == 0">
      <p>No recipes found!</p>
    </div>
  </div>

  <div class="grid-100 row addHover" 
      ng-repeat="reci in recip">
    <a ng-href="/#/edit/{{reci._id}}">
      <div class="grid-70">
        <p>{{reci.name}}<br><sub>{{reci.description}}</sub>
        </p>
      </div>
    </a>
    <div class="hoverBlock">
      <div class="grid-30">
        <div class="flush-right">
          <p>
            <a href="/#/edit/{{reci._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
            <a class="no-action-link" 
            ng-click="deleteReci(reci._id, $index)"> <img src="images/delete.svg" height="12px"> Delete </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>